:root {
  --_accent: 172, 67%, 45%;
  --neutral-1: 183, 100%, 15%;
  --neutral-2: 186, 14%, 43%;
  --neutral-3: 184, 14%, 56%;
  --neutral-4: 185, 41%, 84%;
  --neutral-5: 189, 41%, 97%;
  --neutral-6: 0, 0%, 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
